body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
}

.failure-border {
    border: 10px solid red;
}

.working-border {
    border: 1px solid black;
}

